.searchResult{
     margin: 4rem;
}
.searchResult-title{
     margin-bottom: 2rem;
     font-size: 2.25rem;
     font-weight: 800;
     span{
          color: rgb(205 50 52);
          text-transform: capitalize    ;
     }
}
.searchResult-list{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     gap: 1.5rem;
}
.searchResult-item{
     width: 190px;
     img{
           width: 180px;
           height: 270px;
           border-radius: 0.35rem;
           cursor: pointer;
           transition-duration: 400ms;
     }
     h2{
          width: 180px;
          font-size: 1.2rem;
     }
     &:hover{
          img{
               transform: scale(1.1);
               transition-duration: 400ms;
          }
     }
}